<div class="user-details">
  <h1>About Me</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech" data-aos="flip-left" data-aos-easing="linear" data-aos-duration="750">
    <h2>Code</h2>
    <i class="devicon-python-plain-wordmark colored"></i>
    <i class="devicon-d3js-plain colored"></i>
    <i class="devicon-mysql-plain-wordmark colored"></i>
    <p>I perform data science tasks mostly in Python, using Sci-Kit Learn, Pandas, NumPy, etc. for Machine Learning. For visualizations, I am comfortable with anything ranging from Matplotlib/Seaborn to D3!</p>
  </div>
  <div class="tech" data-aos="flip-left" data-aos-easing="linear" data-aos-duration="750">
    <h2>Teach</h2>
    <i class="devicon-python-plain-wordmark colored"></i>
    <i class="devicon-d3js-plain colored"></i>
    <i class="devicon-mysql-plain-wordmark colored"></i>
    <p>I have been a TA for 2 years in courses such as Statistics and Regression/
      Forecasting! Teaching is one of my greatest passions, and I create
       course materials to facilitate learning.</p>
  </div>
  <div class="tech" data-aos="flip-left" data-aos-easing="linear" data-aos-duration="750">
    <h2>Dance</h2>
    <i class="devicon-python-plain-wordmark colored"></i>
    <i class="devicon-d3js-plain colored"></i>
    <i class="devicon-mysql-plain-wordmark colored"></i>
    <p>I enjoy actively learning and teaching choreography! From the 4 years
       I've led Seoulstice, we filmed over 20 dance covers and performed at over 40
        events. Find us on YouTube @gtseoulstice!</p>
  </div>
</div>
